$total-columns: 3;
$column-width: 33%;
$gutter-width: 0.1%;
$grid-padding: $gutter-width;

.contain {
	.row {
		@include container;

		.attribute-left,
		.attribute-title,
		.attribute-right {
			@include span-columns(1);
		}
	}
}

//	.attribute-left {
//		background: #efefef;
//	}
//
//	.attribute-title {
//		background: #efefef;
//	}
//
//	.attribute-right {
//		background: #efefef;
//	}
