.row {
	margin-left: -1%;
}

[class*="span"] {
//	display: block;
	display: inline;
	float: left;
	margin-left: 1%;
//	min-width: 257px;
//	width: 100%;
	width: 32.3%;	
//	background: #efefef;
	
//	@media screen and (min-width: 768px) {
//		display: inline;
//	}
}

//@media screen and (max-width: 767px) {
//	.span-one-third {
//		margin-bottom: 10px;
//	}
//}

//@media screen and (min-width: 768px) {
//	.span-one-third {
//		width: 30%;
//	}
//}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
