@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin category-heading {
	font-family: $headingFontFamily;
	line-height: .8em;
	text-transform: uppercase;
}

@mixin content-block {
	color: #fff;
	display: block;
}